.loginForm{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm form{
    border: #323232 solid 2px;
    border-radius: 20px;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3c3f41;
}

.signInForm{
    text-align: center;
    margin: 2px;
    width: 200px;
    height: 25px;
}

.submitBtn{
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: #2e65cc;
    border: #274d9a solid 1px;
    border-radius: 5px;
    color: #bbbbbb;
}